// Colour variables named via http://chir.ag/projects/name-that-color/

$color-white: #fff;
$color-black: #000;
$color-lightgrey: #F8FAFC;
$color-puertorico: #4dc0b5;
$color-keppel: #38a89d;
$color-ice-cold: #a0f0ed;
$color-loblolly: #b8c2cc;
$color-nevada: #606f7b;
$color-cinnabar: #E3342F;
// Custom fonts
$font-family: 'Source Sans Pro', sans-serif;

// Global vars
$container-width: 100%;
$search-wrapper-width: 120rem;